SECRET_KEY=347b9d3432942a95a57e6f96da44b690ca9d047d7a54111edb87ed8097dc3f06
MYSQL_HOST=localhost
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DB=appeal_db
MYSQL_PORT=3306
AT_USERNAME=appear1
AT_API_KEY=your-api-key
